<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <title>Seja Voluntário</title>
</head>
<body>
    <main class="container">
        <header class="header">
            <a href="/">
                <img src="./assets/img/logo.png" alt="Logo Seja Voluntário">
                <h1 class="text-red text-shadow">Seja Voluntário</h1>
            </a>
        </header>
        <section class="cta flex row">
            <article>
                <h2 class="text-blue">Busque vaga de voluntariado</h2>
                <p>
                    Busque uma vaga perto de você e tome uma atitude transformadora ajudando ao próximo.
                </p>
                <p>
                    <a class="btn blue" href="/search">Quero ser voluntário</a>
                </p>
            </article>
            <article>
                <h2 class="text-green">Anuncie vagas de voluntariado</h2>
                <p>
                   Você que é de uma ONG ou uma instituição filantrópica, cadastre suas vagas para encontrar voluntários ai perto de você. 
                </p>
                <p>
                    <a class="btn btn-green" href="/register">Quero anunciar</a>
                </p>
            </article>
        </section>
        <section class="notices row">
            <h3 class="text-red">Últimos anúncios de vagas</h3>
            <div class="grid grid-col-3">
                {{#each vagas}}
                <article class="notice">
                    <h4>{{this.title}}</h4>
                    <p class="city"><strong>{{this.country}}</strong></p>
                    <p>{{this.description}}</p>
                    <p>
                        <a class="btn btn-red" href="/ad/{{this.id}}">Saiba mais</a>
                    </p>
                </article>
                {{/each}}
            </div>
        </section>
        <footer class="footer">
            <p>
                <strong>Seja Voluntário</strong> - desenvolvido por @Hoffmann junto com CodeDev
            </p>
        </footer>
    </main>
</body>
</html>